body {
    background-color: rgb(241, 239, 239);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbartext {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Hind', sans-serif; */
    /* font-family: 'Asap', sans-serif; */
    /* font-family: 'Questrial', sans-serif; */
    /* font-family: 'Quattrocento Sans', sans-serif; */
    font-weight: bolder;
    }

.text {
     /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Hind', sans-serif; */
    /* font-family: 'Asap', sans-serif; */
    /* font-family: 'Questrial', sans-serif; */
    /* font-family: 'Quattrocento Sans', sans-serif; */
    font-weight: bold;
    }

.headertext {
    margin-bottom: 20px;
}

h4 {
    line-height: 20px;
}

output { 
    position: absolute;
    background-image: linear-gradient(top, #444444, #999999);
    width: 40px; 
    height: 30px; 
    text-align: center; 
    color: white; 
    border-radius: 10px; 
    display: inline-block; 
    font: bold 15px/30px Georgia;
    bottom: 175%;
    left: 0;
    margin-left: -1%;
  }
  
  output:after { 
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #999999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
  }

main {
    flex: 1 0 auto;
}

.navbarheight, .navbarbkgrnd {
    height: 100px !important; 
} 