body {
    background-color: rgb(224, 221, 221);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbartext {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Hind', sans-serif; */
    /* font-family: 'Asap', sans-serif; */
    /* font-family: 'Questrial', sans-serif; */
    /* font-family: 'Quattrocento Sans', sans-serif; */
    font-weight: bolder;
    }

.text {
     font-family: 'Montserrat', sans-serif !important;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Hind', sans-serif; */
    /* font-family: 'Asap', sans-serif; */
    /* font-family: 'Questrial', sans-serif; */
    /* font-family: 'Quattrocento Sans', sans-serif; */
    /* font-weight: bolder; */
    }

.modalmargin {
    margin-bottom: 15px;
    margin-top: 5px;
    /* I would like this item to be centered if possible */
    /* HS - I got it centered by adding the class center-align to it*/
}

main {
    flex: 1 0 auto;
}

.navbarheight, .navbarbkgrnd {
    height: 100px !important; 
} 


#slidercontainer{
    position:relative !important;
}

#slider2{
    height: 15px;
    top: 50px;
}

.thumb{
    top:10px !important;
}

output {
    display: inline;
}

#sliderlabel {
    margin-top: 40px;
    font-weight: bold;
}
/* end slider */

i {
  font-size: 16px; 
  margin-top: 5px; 
}

.cardtext {
    font-size: 24px;
}


output {
    display: inline;
}

